{% extends "base.html" %}
<html><head><title>register</title></head><body>New to the clinic?<br>
Register<br>
<br>
<table style="width: 389px; height: 128px;" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
<td style="text-align: right;">First Name:</td><td>   <input name="id_first_name"></td></tr>
<tr><td style="text-align: right;">Last Name:</td><td>      <input name="id_last_name"></td></tr>
<tr><td style="text-align: right;">Age:</td><td>              <input name="id_last_name"></td></tr>
    <tr>
<td style="text-align: right;">Gender:</td><td>           <input name="id_last_name"></td></tr>
  </tbody>
</table>
<br>
<div style="text-align: center;">
<table style="width: 441px; height: 174px;" border="1" cellpadding="2" cellspacing="2">
<tbody><tr align="center"><td><big style="font-family: American Typewriter Condensed Light;"><big>Placeholder for Anthropometric Measurements </big></big></td></tr>
<tr align="center"><td><big style="font-family: American Typewriter Condensed Light;"><big>Placeholder for Family History</big></big></td></tr>
<tr align="center"><td><big style="font-family: American Typewriter Condensed Light;"><big>Placeholder for Health History</big></big></td></tr>
<tr align="center"><td><big style="font-family: American Typewriter Condensed Light;"><big>Placeholder for Known Allergies</big></big></td></tr>
<tr align="center"><td><big style="font-family: American Typewriter Condensed Light;"><big>Placeholder for Current Medications</big></big></td></tr>
</tbody>
</table>
<big style="font-family: American Typewriter Condensed Light;"><big></big></big></div>
</body></html>